:root {
  --text-color: white;
}
@font-face {
    font-family: Roboto-light;
    src: url('Roboto/Roboto-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
}
a {
    text-decoration: none;
    color: var(--text-color);
    font-size: smaller;
}
li {
    list-style-type: none;
    color: inherit;
}

section h2 {
    margin: 20px 0;
    /*font-size: 1.3rem;
    font-weight: 100;*/
}
body {
    font-family: 'Roboto-light';
}
.black-text {
  color: black;
}
/****************************HEADER STYLES****************************/
.desktop-header {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100vw;
    height: 10vh;
    color: var(--text-color);
    background-color: transparent;
}

.desktop-header h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
}
.desktop-nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.desktop-nav li {
    padding: 5px 10px;
}
.desktop-nav li:nth-child(5) {
    border: 1px solid var(--text-color);
}

/* mobile view*/
.mobile-header {
    display: none;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 5vh;
    background-color: transparent;
    color: white;
    padding: 0 5%;
}


/* When the screen is less than 400px wide, hide the links and show the hamburger menu */
@media screen and (max-width: 400px) {
    .desktop-header {
        display: none;
    }
    .mobile-header {
      /* height: 5vh;
      padding: 0 1%; */
      display: flex;
      justify-content: space-between;
  }
  
  .mobile-header h1 {
      font-family: 'Shadows Into Light', cursive;
      font-size: 1.2rem;               
  }
  
  .mobile-menu {
      position: relative;
  }
  
  .mobile-header nav {
      display: none; 
      position: absolute;
      top: 5vh;
      right: 0;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
    }
  
  .mobile-header nav a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .mobile-header nav a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .mobile-menu-icon {
      cursor: pointer;
  }

  
  
}
/***************************HERO SECTION STYLES****************************/
section.hero {
    width: 100vw;
    height: 100vh;
    background: url('images/valvonta_tietokone_istock-1024x652-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.3);
}
.hero-overlay .social {
    position: fixed;
    bottom: 20vh;
    right: 5vw;
}
.hero-overlay p {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 10%;
}
.hero-overlay .cta {
    display: flex;
    justify-content: space-between;
    width: 13vw;
    margin: 20px auto 0;
    
}
.cta span {
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
}
.fa {
    display: block;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

/*  HERO SECTION MOBILE VIEW  */
/*display mobile menu when screensize is 400 px or less*/
@media screen and (max-width: 400px) {
    /* Style the navigation menu */
    .hero-overlay p {
      display: block;
      margin: 50px auto 0;
      width: 50%;
      color: white;
      font-size: 1.1rem;
      margin-top: 30%;
    }
  .hero-overlay .cta {
      display: flex;
      justify-content: space-between;
      width: 40vw;
      margin: 20px auto ;
  }
  .cta span {
      font-size: .7rem;
      color: white;
      padding: 4px 8px;
      border: 1px solid white;
      cursor: pointer;
  }
  .fa {
      display: block;
      padding: 10px;
      font-size: 20px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      color: white;
      margin: 5px 2px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
  
}


/***************************PROJECTS SECTION******************************/

  .projects {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    /*background-color: #cfc9c5;/*#cfc9c5*/
  }
  .projects h2 {
    display: block;
    text-align: center;
  }
  .projects p {
    width: 250px;
    text-align: center;
    margin: 20px auto 40px;
  }
  /* ----- slideshow stylings ----- */ 
  .slideshow { 
    height: 80%;
    width: 80%; 
    overflow: hidden; 
    position: relative; 
    margin: 0 auto;
} 

.slideshow-wrapper { 
    display: flex; 
    width: 400%; 
    height: 100%; 
    position: relative; 
    /* you can change the animation settings from below */ 
    animation: slideshow 50s infinite; 
 } 
/* define width and height for images*/ 
.slide { 
    width: 100%; 
    height: 100%; 
} 
.slide-img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;  
} 

@keyframes slideshow { 
    0%  { left: 0; } 
    10% { left: 0; } 
    15% { left: -100%; } 
    25% { left: -100%; } 
    30% { left: -200%; } 
    40% { left: -200%; } 
    45% { left: -300%; } 
    55% { left: -300%; } 
    60% { left: -200%; } 
    70% { left: -200%; } 
    75% { left: -100%; } 
    85% { left: -100%; } 
    90% { left: 0%; } 
} 
/* ----- end of slideshow stylings ----- */ 

/* ----- carousel control buttons stylings ----- */ 
.slide-btn { 
    background-color: #fff; 
    border-radius: 50%; 
    border: 1px solid #333; 
    width: .9rem; 
    height: .9rem; 
    outline: none; 
    cursor: pointer; 
    /* stylings for positioning the buttons at 
       the bottom of the carousel */ 
    position: absolute; 
    bottom: 3%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 70; 
} 

.slide-btn-1 { 
    left: 45%; 
} 
.slide-btn-2 { 
    left: 50%; 
} 
.slide-btn-3 { 
    left: 55%; 
} 
.slide-btn-4 { 
    left: 60%; 
} 

.slide-btn-1:focus~.slideshow-wrapper { 
    animation: none; 
    left: 0; 
} 
.slide-btn-2:focus~.slideshow-wrapper { 
    animation: none; 
    left: -100%; 
} 
.slide-btn-3:focus~.slideshow-wrapper { 
    animation: none; 
    left: -200%; 
} 
.slide-btn-4:focus~.slideshow-wrapper { 
    animation: none; 
    left: -300%; 
} 
.slide-btn:focus { 
    background-color: #333; 
} 

  /*************************ABOUT ME SECTION*****************************/
  .about-me {
    width: 100vw;
    height: 100vh;
    padding: 25vh 0 0 5vw;
    color: white;
    background-image: url('images/man-sits-floor-with-laptop-his-hands_853645-19306.avif');
    background-size: cover;
  }
  .about-me h2 {
    
  }
  .about-me p {
    width: 30%;
    margin-top: 10px;
  }

  /*ABOUT ME MOBILE VIEW*/
  @media screen and (max-width: 400px) {
    .about-me p {
      width: 80%;
      font-size: .9rem;
      line-height: 1.2rem;
    }
    .about-me {
      background-position: center;
    }
    
  }
  

  /*******************************SKILLS SECTION***************************/
  
  section.skills {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .skills h2 {
    text-align: center;
  }
  .skills p {
    width: 250px;
    text-align: center;
    margin: 20px auto 40px;
  }
  .skills-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /*justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
    place-items: center;
    gap: 40px;
    width: 60vw;
    margin: 0 auto;
  }
  .progress-bar {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(var(--main-color) calc(var(--progress-value) * 1%), var(--light-color) 0);
      animation: progress 3s infinite forwards;    
  }
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    color: var(--main-color);
    animation: progress 2s 1 forwards;
  }
  .progress-bar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
  }
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes progress {
   to { --progress-value: var(--i); }
  }

  /*SKILLS MOBILE VIEW*/
  @media screen and (max-width: 400px) {
    .skills-container {
      grid-template-columns: repeat(1, auto);
      width: 80vw;
      overflow: hidden;
    }
    .progress-bar {
      width: 150px;
      height: 150px;
    }
    .progress-bar img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  /* GALLERY */

  /* Base styles for the gallery */
  .gallery {
    padding: 2rem 5%;
  }
  
  .gallery .image-container {
    columns: 15rem 3;
    gap: 1rem;
  }

  .gallery .image-container img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .gallery .image-container img:hover {
    transform: scale(1.01);
  }
  
  /*************************FOOTER STYLES*******************************/
  footer {
    width: 100vw;
    height: 100vh;
    background-image: url('images/Content-Writer-Know-About-Web-Development.jpeg');
    background-size: cover;
  }
  .footer-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 25vh 0 0 5vw;
  }
  .icon {
    font-size: 2rem;
    color: white;
  }
  .contact-info {
    display: flex;
    margin-top: 20px;
  }
  .contact-info .icon {
    font-size: 1.5rem;
  }
  .info-text {
    width: 200px;
    margin-left: 10px;
    font-size: .8rem;
    color: white;
  }
  /*FOOTER FORM STYLES*/
  form {
    margin-bottom: 40px;
  }
  form .input-container {
    display: flex;
    width: 25vw;
    margin-bottom: 30px;
    border-bottom: 1px dotted white;
  }
  form input {
    margin-left: 10px;

    border: none;
    color: white;
    background-color: transparent;
  }
  textarea {
    width: 25vw;
    height: 30px;
    padding-top: 10px;
    border: none;
    color: white;
    border-bottom: 1px dotted white;
    background-color: transparent;
  }
  form input:focus, textarea:focus {
    outline: none;
  }
  input[type=submit] {
    display: block;
    margin-top: 30px;
    margin-left: 0;
    padding: 6px 12px;
    border: 1px solid white;
  }

  
  /*FOOTER MOBILE VIEW*/
  @media screen and (max-width: 400px) {
    .footer-overlay {
      padding: 10vh 0 0 5vw;
    }
    .contact-info {
      flex-direction: column;
    }
    .info-text {
      width: 80%;
      margin-left: 0;
      font-size: .7rem;
    }
    form .input-container {
      width: 80vw;
    }
    form input {
      width: 70%;
    }
    textarea {
      width: 70%;
    }
    input[type=submit] {
      margin-top: 20px;
    }
  }